.password-checks {
  padding: 2rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  input {
    margin-right: 0.5rem;
  }
  .look {
    border-radius: 0.3rem;
    border: 1px solid grey;
    padding: 0.1rem;
  }
  .validation-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .validation-field {
      opacity: 0.6;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      &:first-child {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
      }
      &:last-child {
        margin-top: 0.2rem;
        margin-bottom: 0rem;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}
