.input-wrapper {
  border-radius: 2rem;

  .input-field {
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      position: relative;
      width: 12rem;
      input {
        border-radius: 1rem;
        border: 1px solid rgb(230, 230, 230);
        padding: 0.5rem;
        outline: none;
      }
      .placeholder {
        font-size: 0.9rem;
        position: absolute;
        top: 20%;
        left: 10%;
        transition: all 0.3s ease-in-out;
        opacity: 0.3;
        pointer-events: none;
      }

      &.active {
        .placeholder {
          font-size: 0.8rem;
          transform: translate(-20%, -105%);
          background-color: rgb(4, 250, 200);
          padding: 0.3rem;
          border-radius: 0.7rem;
          opacity: 1;
        }
      }
    }

    .look {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid black;
      background: rgb(191, 129, 255);

      margin-left: 0.5rem;
      border: none;
      box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      transition: all 0.1s ease-in-out;
      &:hover {
        background: rgb(180, 108, 253);
      }
    }
  }

  .validation-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .validation-field {
      opacity: 0.3;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      &:first-child {
        margin-top: 2rem;
        margin-bottom: 0.2rem;
      }
      &:last-child {
        margin-top: 0.2rem;
        margin-bottom: 0rem;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}
