.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  z-index: 10000;

  &.inactive {
    pointer-events: none;
  }

  .menu {
    height: 100vh;
    width: 30rem;
    background: rgb(128, 3, 255);
    background: linear-gradient(
      90deg,
      rgba(128, 3, 255, 1) 0%,
      rgba(167, 81, 255, 1) 100%
    );
    color: white;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 12px 0px 40px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0 0.5rem 0.5rem 0;
    pointer-events: auto;

    .navbar {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: all 0.7s ease-in-out;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        position: sticky;
        cursor: pointer;

        &:hover {
          scale: 1.1;
        }
      }
      svg {
        font-size: 2rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
    .fetch {
      height: 100vh;
      width: 0%;
      transition: all 0.7s ease-in-out;
      text-align: center;
      overflow: scroll;

      div {
        animation: fetchAnimation 0.5s ease-in-out;
        p {
          margin: 2rem;
          cursor: pointer;
        }
      }
    }
    &.active {
      .navbar {
        width: 30%;
        height: 30%;
        position: relative;
        top: 0;
        left: 0;
        .title {
          font-size: 1rem;
          &.active {
            color: black;
          }
        }
        svg {
          font-size: 1.5rem;
        }
      }
      .fetch {
        width: 70%;
        border-left: 2px solid rgba(255, 255, 255, 0.25);
        p {
          transition: all 0.2s ease-in-out;
          &:hover {
            scale: 1.15;
          }
        }
      }
    }
  }
  .cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: all 0.8s ease-in-out;
    .toggle-icon-wrapper {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 0.2rem;
      margin-left: 0.2rem;
      width: 5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(128, 3, 255);
      background: rgb(167, 81, 255);
      background: radial-gradient(
        circle,
        rgba(167, 81, 255, 1) 0%,
        rgba(128, 3, 255, 1) 100%
      );
      z-index: 100000;
      pointer-events: auto;

      cursor: pointer;
      .toggle-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1.5rem;

        .stick {
          width: 2.3rem;
          height: 0.3rem;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 1rem;
          transition: all 0.8s ease-in-out;
        }
      }
      &.active {
        .toggle-icon {
          .stick.one {
            transform: translateY(0.6rem) rotate(225deg);
          }
          .stick.two {
            transform: rotate(315deg);
          }
          .stick.three {
            transform: translateY(-0.6rem) rotate(225deg);
          }
        }
      }
    }
    &.active {
      width: calc(100vw - 30rem);
    }
  }
  &.active {
    backdrop-filter: blur(4px);
  }
}

@keyframes fetchAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toggleAnimationOne {
  0% {
    transform: translateY(0rem);
  }
  100% {
  }
}
