.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  z-index: 10000;

  &.inactive {
    pointer-events: none;
  }

  .menu {
    height: 100vh;
    width: 30rem;
    background: rgb(128, 3, 255);
    background: linear-gradient(
      90deg,
      rgba(128, 3, 255, 1) 0%,
      rgba(167, 81, 255, 1) 100%
    );
    color: white;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 12px 0px 40px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0 0.5rem 0.5rem 0;

    .navbar {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: all 0.7s ease-in-out;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        position: sticky;
        cursor: pointer;

        &:hover {
          scale: 1.1;
        }
      }
      svg {
        font-size: 2rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
    .fetch {
      height: 100vh;
      width: 0%;
      transition: all 0.7s ease-in-out;
      text-align: center;
      overflow: scroll;

      div {
        animation: fetchAnimation 0.5s ease-in-out;
        p {
          margin: 2rem;
          cursor: pointer;
        }
      }
    }
    &.active {
      .navbar {
        width: 30%;
        height: 30%;
        position: relative;
        top: 0;
        left: 0;
        .title {
          font-size: 1rem;
          &.active {
            color: black;
          }
        }
        svg {
          font-size: 1.5rem;
        }
      }
      .fetch {
        width: 70%;
        border-left: 2px solid rgba(255, 255, 255, 0.25);
        p {
          transition: all 0.2s ease-in-out;
          &:hover {
            scale: 1.15;
          }
        }
      }
    }
  }
  .cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: all 0.8s ease-in-out;
    .user-section {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0.2rem;
      margin-right: 0.2rem;
      pointer-events: auto;

      .user-icon {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        width: 5rem;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        background: rgb(167, 81, 255);
        background: radial-gradient(
          circle,
          rgba(167, 81, 255, 1) 0%,
          rgba(128, 3, 255, 1) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        svg {
          font-size: 2rem;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .user-interface {
        pointer-events: none;
        z-index: 2;
        opacity: 0;
        margin-top: 5rem;
        width: 10rem;
        height: 8rem;
        background: rgb(167, 81, 255);
        background: radial-gradient(
          circle,
          rgba(167, 81, 255, 1) 0%,
          rgba(128, 3, 255, 1) 100%
        );
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);
        transition: all 0.3s ease-in-out;

        .logout {
          padding: 0.5rem;
          border-radius: 1.5rem;
          border: 1.5px solid white;
          color: rgba(255, 255, 255, 0.8);
          background-color: rgba(128, 3, 255, 1);
          scale: 1;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: translateY(-0.3rem);
          }
        }

        &.active {
          pointer-events: auto;
          opacity: 1;
          transform: translateX(-4.5rem);
        }
      }
    }

    .registration {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      width: 10rem;
      height: 2.5rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      pointer-events: auto;
      .signup-button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 2rem;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        backdrop-filter: blur(50px);
        background-color: rgba(255, 255, 255, 0.05);
        &:hover {
          background-color: rgb(167, 81, 255);
        }
      }
      .login-button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 0px 0px 76px 28px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 2rem;
        backdrop-filter: blur(50px);
        background-color: rgba(255, 255, 255, 0.1);
        &:hover {
          background-color: rgb(128, 3, 255);
        }
      }
    }

    .toggle-icon-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0.2rem;
      margin-left: 0.2rem;
      width: 5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(167, 81, 255);
      background: radial-gradient(
        circle,
        rgba(167, 81, 255, 1) 0%,
        rgba(128, 3, 255, 1) 100%
      );
      z-index: 100000;
      pointer-events: auto;

      cursor: pointer;
      .toggle-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1.5rem;

        .stick {
          width: 2.3rem;
          height: 0.3rem;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 1rem;
          transition: all 0.8s ease-in-out;
        }
      }

      &.active {
        .toggle-icon {
          .stick.one {
            transform: translateY(0.6rem) rotate(225deg);
          }
          .stick.two {
            transform: rotate(315deg);
          }
          .stick.three {
            transform: translateY(-0.6rem) rotate(225deg);
          }
        }
      }
    }

    &.active {
      width: calc(100vw - 30rem);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

@keyframes fetchAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoutAnimation {
  0% {
    pointer-events: none;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-wrapper {
    .menu {
      width: 25rem;
    }
    .cover {
      &.active {
        width: calc(100vw - 25rem);
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar-wrapper {
    .menu {
      width: 17rem;
      .navbar {
        .title {
          font-size: 1rem;
        }
        svg {
          font-size: 1.3rem;
          &:hover {
            scale: 1;
          }
        }
      }
      .fetch {
        div {
          p {
            font-size: 10px !important; // non funziona
            scale: 0.8;
          }
        }
      }
      &.active {
        .navbar {
          width: 40%;
          height: 25%;
          .title {
            scale: 0.8;
            &:hover {
              scale: 0.8;
            }
          }
        }

        .fetch {
          width: 60%;
          div {
            width: 100%;
            p {
              &:hover {
                scale: 0.8;
              }
            }
          }
        }
      }
    }
    .cover {
      .toggle-icon-wrapper {
        scale: 0.9;
      }

      &.active {
        width: calc(100vw - 17rem);
      }
    }
  }
}

@media (max-width: 425px) {
  .navbar-wrapper {
    .menu {
      width: 15rem;
      .navbar {
        .title {
          font-size: 1.2rem;
        }
        svg {
          font-size: 1.5rem;
          &:hover {
            scale: 1;
          }
        }
      }
      .fetch {
        div {
          p {
            font-size: 10px !important; // non funziona
            scale: 0.8;
            margin: 1.3rem auto;
          }
        }
      }
      &.active {
        .navbar {
          width: 35%;
          height: 25%;
          .title {
            scale: 0.7;
            &:hover {
              scale: 0.8;
            }
          }
          svg {
            scale: 0.7;
          }
        }

        .fetch {
          width: 65%;
          div {
            width: 100%;
            p {
              &:hover {
                scale: 0.8;
              }
            }
          }
        }
      }
    }
    .cover {
      .toggle-icon-wrapper {
        scale: 0.7;
        top: -0.7rem;
        left: -0.7rem;
      }
      &.active {
        width: calc(100vw - 15rem);
      }
    }
  }
}
