.sign-up-page,
.log-in-page,
.forgot-password-page,
.recovery-password,
.reset-password {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 4rem;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    svg {
      font-size: 1.8rem;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: rgba(171, 88, 255, 1);
      scale: 1.1;

      svg {
        color: white;
      }
    }
  }

  .form {
    border-radius: 2rem;
    height: auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 100;
    backdrop-filter: blur(10px);
    h1 {
      margin: 1.5rem 0 1rem 0;
    }
    &.active {
      border: 3px solid red;
    }

    .input {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      &:last-child {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
    .submit {
      margin: 1rem 0 2rem 0;
      opacity: 0.3;
      transition: all 0.3s ease-in-out;
      background-color: white;
      color: black;
      padding: 0.3rem;
      border-radius: 0.5rem;
      border: 1px solid grey;
      font-weight: bold;
      scale: 1.2;

      &.active {
        opacity: 1;
        background-color: rgb(191, 129, 255);
        border: 1px solid rgb(191, 129, 255);
        transform: translateY(-0.5rem);
        color: white;

        &:hover {
          background-color: rgb(167, 79, 255);
          border: 1px solid rgb(167, 79, 255);
          cursor: pointer;
        }
      }
    }
    .problemText {
      opacity: 0;
      user-select: none;
      display: none;
      transition: all 2s ease-in-out;
      margin-bottom: 1rem;
      &.active {
        display: block;
        opacity: 1;
        color: red;
      }
    }
  }
}
